<div>
  <h1>Add New Role</h1>
  <br>
  <br>
  <div class="row">
    <div class="col-md-9">
      <form ng-submit="addNewRole(); simple()">
        <div class="form-group row">
          <label for="username" class="col-sm-3 col-form-label">Username *</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="Username" ng-model="newusername" name="newusername" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="name" class="col-sm-3 col-form-label">Full Name *</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="Full Name" ng-model="newfullname" name="newfullname" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="date" class="col-sm-3 col-form-label">Role *</label>
          <div class="col-sm-5">
            <select ng-model="newrole" name="newrole" required>
              <option value="">Select a role</option>
              <option value="Programmer">Programmer</option>
              <option value="Designer">Designer</option>
              <option value="Architect">Architect</option>
            </select>
          </div>
        </div>
        <div class="col-md-2 col-md-offset-2">
          <input type="Submit" class="btn btn-primary" value="Submit">
        </div>
      </form>
    </div>
  </div>
</div>
