<!-- Trigger the modal with a button -->
<div class='btnns'>
  <button type="button" class="btn btn-info btn-xs"  data-backdrop="false" >Edit</button>
  <button type="button" class="btn btn-info btn-xs" ng-click="showme=false" ng-show="showme">Activate</button>
  <button type="button" class="btn btn-warning btn-xs" ng-click="showme=true" ng-hide="showme">Deactivate</button>
</div>
<!-- Modal -->
<div id="myModal" ng- controller="myCtrl2" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit User</h4>
      </div>
      <div class="modal-body">
        <form ng-controller="myCtrl">
          <div class="form-group row">
            <label for="username" class="col-sm-3 col-form-label">Username *</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" placeholder="Username" ng-model="data.newusername" name="newusername" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label">Full Name *</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" placeholder="Full Name" ng-bind="newname" name="newname" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-3 col-form-label">Email *</label>
            <div class="col-sm-5">
              <input type="email" class="form-control" placeholder="Email" ng-bind="newemail" name="newemail" required>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="gettime()">Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
