<div>
  <h1>Add New Role</h1>
  <br>
  <br>
  <div class="row">
    <div class="col-md-9">
      <form ng-submit="addNewRole(); simple()">
        <div class="form-group row">
          <label for="date" class="col-sm-3 col-form-label">Add New Role *</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="New Role" ng-model="newrole" name="newrole" required>
          </div>
        </div>
        <div class="col-md-2 col-md-offset-2">
          <input type="Submit" class="btn btn-primary" value="Submit">
        </div>
      </form>
    </div>
  </div>
</div>
