<!-- <div class="col-md-10">
  <h1>Dashboard</h1>
</div>
<br>
<div class=" buttons">
  <a ui-sref="applyleave">
    <button class="btn btn-default btn-secondary ">
      <br><i class="fa fa-file fa-2x" aria-hidden="true"></i>
      <br>
      <br>Leave Manager</button>
  </a>
  <a ui-sref="adduser">
    <button class="btn btn-default ">
      <br><i class="fa fa-users fa-2x" aria-hidden="true"></i>
      <br>
      <br>Employee Manager</button>
  </a>
  <a ui-sref="addrole">
    <button class="btn btn-default ">
      <br><i class="fa fa-suitcase fa-2x" aria-hidden="true"></i>
      <br>
      <br>Role Manager</button>
  </a>
  <button class="btn btn-default ">
    <br><i class="fa fa-tasks fa-2x" aria-hidden="true"></i>
    <br>
    <br>Task Manager</button>
</div>
<br>
<br>
<br> -->
<div class="row">
  <h3>Recent Updates</h3>
  <br>
  <div ng-if="data.length>0">
    <div class="content">
      <div ng-repeat="d in data">
        <div ng-if="d.type=='User'">
          <div class="row">
            <div class="col-md-2 type">
              <h4>{{d.type}}</h4>
            </div>
            <div class="col-md-6 name">
              New user added
              <h4 class="names">{{d.fullname}}</h4>
            </div>
          </div>
          <br>
        </div>
        <div ng-if="d.type=='Leave'">
          <div class="row">
            <div class="col-md-2 type">
              <h4>{{d.type}}</h4>
            </div>
            <div class="col-md-6 name">
              <h4 class="names">{{d.fullname}}</h4><span> applied for a leave </span>
              <p>Date From :- {{d.leave_from}}</p>
              <p>Date To :- {{d.leave_to}}</p>
              <p>Reason :- {{d.reason}}</p>
            </div>
          </div>
          <br>
        </div>
        <div ng-if="d.type=='Role'">
          <div class="row">
            <div class="col-md-2 type">
              <h4>{{d.type}}</h4>
            </div>
            <div class="col-md-7 name">
              New Role Added <span class="role">{{d.roles}}</span>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="data.length==0">
    <h2>No Data To Display</h2></div>
</div>
